@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* DECLARACOES INICIAS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

:root {
    --lightest: #E0E1DD; 
    --light: #778DA9; 
    --medium: #415A77; 
    --dark: #1B263B;
    --darker: #0D1B2A;
}

/* STYLING PRINCIPAL  */
html {
    font-family: Roboto,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    padding: 10px;
    background-color: var(--darker);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header { 
    margin-top: 6rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: whitesmoke;
}

main { 
    width: 700px; 
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form { 
    position: relative; 
}

#novaTarefa { 
    padding: 10px 20px; 
    width: 100%;
    background: none;
    border: 2px solid var(--light); 
    border-radius: 1000px; 
    font: inherit;
    color: var(--lightest); 
    caret-color: var(--light);
}

#novaTarefa:focus {
    outline: none;
}

#add { 
    position: absolute; 
    top: 0;
    right: 0;
    background-color: var(--light);
    height: 100%;
    padding: 0px 30px;
    border: none;
    border-radius: 1000px;
    font: inherit;
    color: var(--darker); 
    cursor: pointer; 
} 

.tarefa{ 
    margin-bottom: 15px; 
    padding: 0 16px;
    background-color: var(--medium);
    display: flex;
    align-items: center;
    border-radius: 600px; 
}

.tarefa .texto-tarefa { 
    padding: 15px;
    padding-right: 0;
    flex-grow: 1;
    transition: 200ms ease;
} 

.deletar-Tarefa { 
    background: none;
    border: none;
    cursor: pointer;
}

.deletar-Tarefa svg{
    transition: 200ms ease;
}

.deletar-Tarefa:hover svg{
    fill: rgb(94, 0, 0) ;
}

.checkbox-tarefa-custom { 
    border: 2px solid var(--darker); 
    border-radius: 50%;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

input[type = "checkbox"]:checked ~ .checkbox-tarefa-custom {
    background-color: var(--light);
}

input[type = "checkbox"]:checked ~ .checkbox-tarefa-custom svg{
    fill: var(--darker);
}

input[type = "checkbox"]:checked ~ .texto-tarefa { 
    text-decoration: line-through;
    color: #0D1B2A;
}

input[type = "checkbox"] {
    display: none;
}

@media(max-width: 600px) { 
    
    header{
        margin-top: 1.5rem; 
    }

    #add { 
        position: unset;
        width: 100%;
        margin-top: 10px;
        padding: 10px;
        height: auto;
    }

}