@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* DECLARACOES INICIAS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

:root {
    --textoInput: #fffcf2; 
    --textoTarefa: #252422; 
    --light: #ccc5b9; 
    --highlight: #c75122; 
    --dark: #403d39;
    --background: #252422;

    /* --textoTarefa: #E0E1DD; 
    --light: #778DA9; 
    --medium: #415A77; 
    --dark: #1B263B;
    --background: #0D1B2A; */
}

.lightTheme{
    --background:  #fffcf2; 
    --textoInput: #252422; 

}

#temaSwitch, #add, .tarefa .texto-tarefa, .checkbox-tarefa-custom, .deletar-Tarefa  {
    cursor: pointer;
}


/* STYLING PRINCIPAL  */
html {
    font-family: Roboto,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    padding: 10px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header { 
    margin-top: 6rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: var(--highlight);
    border-bottom: 2px solid var(--dark);
}

#temaSwitch {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--light);

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
}

#temaSwitch svg{
    fill: var(--highlight);
}

#temaSwitch svg:first-child{
    display:none;
}

.lightTheme #temaSwitch svg:last-child{
    display:none;
}

.lightTheme #temaSwitch svg:first-child{
    display: block;
}



main { 
    width: 700px; 
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form { 
    position: relative; 
}

#novaTarefa { 
    padding: 10px 20px; 
    width: 100%;
    background: none;
    border: 2px solid var(--light); 
    border-radius: 1000px; 
    font: inherit;
    color: var(--textoInput); 
    caret-color: var(--light);
}

#novaTarefa:focus {
    outline: none;
}

#add { 
    position: absolute; 
    top: 0;
    right: 0;
    background-color: var(--light);
    height: 100%;
    padding: 0px 30px;
    border: none;
    border-radius: 1000px;
    font: inherit;
    color: var(--textoTarefa); 
} 

.tarefa{ 
    margin-bottom: 15px; 
    padding: 0 16px;
    background-color: var(--light);
    display: flex;
    align-items: center;
    border-radius: 600px; 
}

.tarefa .texto-tarefa { 
    padding: 15px;
    padding-right: 0;
    flex-grow: 1;
    transition: 200ms ease;
    color: var(--textoTarefa);
} 

.deletar-Tarefa { 
    background: none;
    border: none;
}

.deletar-Tarefa svg{
    transition: 200ms ease;
}

.deletar-Tarefa:hover svg{
    fill: rgb(94, 0, 0) ;
}

.checkbox-tarefa-custom { 
    border: 2px solid var(--background); 
    border-radius: 50%;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

input[type = "checkbox"]:checked ~ .checkbox-tarefa-custom {
    background-color: var(--highlight);
    border-color: var(--highlight);
}

input[type = "checkbox"]:checked ~ .checkbox-tarefa-custom svg{
    fill: var(--background);
}

input[type = "checkbox"]:checked ~ .texto-tarefa { 
    text-decoration: line-through;
    color: var(--background);
}

input[type = "checkbox"] {
    display: none;
}

@media(max-width: 600px) { 
    
    header{
        margin-top: 1.5rem; 
    }

    #add { 
        position: unset;
        width: 100%;
        margin-top: 10px;
        padding: 10px;
        height: auto;
    }

    #temaSwitch {

        height: 35px;
        width: 35px;
    }

}